@charset 'UTF-8';

body {
  background: url("./water.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed !important;
  -webkit-background-size: cover; /* Safari and Chrome */
  -moz-background-size: cover; /* Firefox */
  -ms-background-size: cover; /* Internet Explorer */
  -o-background-size: cover; /* Opera */
  background-size: cover; /* CSS3 */
  display: compact;
}

.nav-justified {
  padding-top: 5px;
}


.box_icon {
  float: left;
  margin: 3px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.main-row {
    padding-top: 20px;
}

.post-title {
  display: inline;
}

.post-date {
  display: inline;
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Century Schoolbook", Georgia, Times, serif;
}

h1 {
  font-weight: bold;
  font-size: 46px;
}